@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

@layer base {
  body {
    @apply font-[Raleway];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

.content-div {
  height: 300px;
  width: 100%;
}

.content-div:hover {
  background: rgba(0, 0, 0, 0.5) !important;
  opacity: 0.5;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nav-height {
  height: 7vh;
}

.footer-height {
  height: 4vh;
}
